{% extends 'base.html.twig' %}

{% block body %}
	<h1>{{ category.title }}</h1>
	{% if category.description is not null %}
		<p>{{ category.description }}</p>
	{% endif %}

	<h2>Modifier la catégorie</h2>
	{{ form(editCategory) }}

		<form action="{{path('app_category_delete', {id: category.id})}}" method="POST">
			<input type="hidden" name="csrf" value="{{ csrf_token('delete' ~ category.id) }}">
			<input type="submit" value="Delete">
		</form>
	{% endblock %}
